services:
  app:
    image: ghcr.io/markwylde/pgcertmin:v1.1.4
    restart: always
    ports:
      - "8780:8780"
    environment:
      PORT: 8780
      PGHOST: i.puzed.com
      PGPORT: 15324
      PGDATABASE: puzed
      PGUSER: puzed-app
      PGSSLMODE: verify-full
      PGSSLROOTCERT: /etc/ssl/certs/ca-certificates.crt
      PGSSLCERT: /data/certs/postgres-clients/client.crt
      PGSSLKEY: /data/certs/postgres-clients/client.key
      CA_CERT_PATH: /data/certs/postgres-clients/ca.crt
      CA_KEY_PATH: /data/certs/postgres-clients/ca.key
      CLIENT_CERTS_DIR: /data/certs/postgres-clients/
    volumes:
      - /data/certs:/data/certs
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro